*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/.gradle
local.properties
/.idea

*/build
*/*.iml

.idea/*
*.py
*.pyc
/freeline/*
freeline_project_description.json

/node_modules/**
/package.json
/package-lock.json
.idea/codeStyles/Project.xml
.idea/misc.xml
lint-result.html
lint-result.xml
