<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:targetApi="31">
        <activity
            android:name=".WebViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AiScreenActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".TurnOffScreenActivity"
            android:exported="true" />
        <activity
            android:name=".SpecialQrCodeActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".floatview.TestFloatViewActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CoroutineActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPage2Activity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".UiLagActivity"
            android:exported="false" />
        <activity
            android:name=".ThreadLockActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" />
        <activity
            android:name=".SpDataStoreTestActivity"
            android:exported="true" />
        <activity
            android:name=".BitmapTestActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".BackgroundPopActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>